* {
    margin: 0 auto;
    user-select: none;
}
#fpsDisplay {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 30px;
    background-color: black;
    text-align: center;
    line-height: 30px;
    color: white;
}

#mainCanvas {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 500px;
    border: 1px solid black;
}
#sizeAlert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 200;
}
#sizeAlert > p {
    font-size: 50px;
    color: black;
    width: 100%;
    text-align: center;
}
@media screen and (orientation: portrait) {
    #sizeAlert {
        display: block;
    }
}

@media screen and (orientation: landscape) {
    #sizeAlert {
        display: none;
    }
}

.debugDisplay {
    position: absolute;
    top: 650px;
    width: 100%;
    min-height: 500px;
    background-color: rgba(200, 200, 200, 0.5);
    display: none;
}

#debugDisplayPassword {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 25px;
    z-index: 10;
}

.inputButton {
    position: absolute;
    top: 0;
    width: 10%;
    height: 90%;
    z-index: 101;
    opacity: 0.3;
    border: none;
}
.inputButton:active {
    opacity: 0.75;
}
#inputButton_left {
    left: 0px;
    background-color: #ff4242;
    
}
#inputButton_right {
    right: 0px;
    background-color: #42ffff;
}

#inputButton_exit {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 10%;
    background-image: url("https://12345ff.github.io/Image/crashSlide/lineLight42.png");
    background-size: 100% 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    z-index: 101;
}
#inputButton_onBack {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 10%;
    background-image: url("https://12345ff.github.io/Image/crashSlide/button_back.png");
    background-size: 100% 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    z-index: 101;
}